.ExpandableSection__container {
  padding: 6px 1vw;
  margin: 5px 3px;
  border-radius: 8px;
}
.ExpandableSection__title {
  font-weight: bold;
  font-size: 15px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 9px 3vw;
}

/* .Animation {
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .Animation {
    animation: Animation-down 0.5s normal;
  }
}
@keyframes Animation-down {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
} */
